*{
    margin: auto;
    padding: auto;
    box-sizing: auto;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar{    
    background-color: #42641b;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 10px;
}

.navbar ul li{
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover{
    color: #ffd700;
}

.container{
    max-width: 800px;
    height: 60vh;
    justify-content: left;
    align-items: left;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}
.container fieldset{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    height: 160px;  }
.container fieldset legend{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.container h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.container p{
    font-size: 16px;    text-align: center;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group input[type="radio"]{
    margin-right: 10px;
}
.form-group input[type="text"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}           

.form-group input[type="submit"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #42641b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}   
form{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    padding: 10px;
}
form input[type="submit"]:hover{
    background-color: #ffd700;
    color: #000;
    cursor: pointer;
}

